<!DOCTYPE HTML>
<html>
    <head>
        <title>스프링 부트 웹서비스</title>
        <meta http-equiv="Content-Type"
              content="text/html;charset=UTF-8">
    </head>
    <body>
    {{>layout/header}}
        <h1>게시판</h1>
        <div class = "col-md-12">
            <!-- 로그인기능 영역-->
            <div class = "row">
                <div class = "col-md-6">
                    <a href="/posts/save" role = "button"
                                class = "btn btn-primary">글 등록</a>
                    {{#userName}}
                        Logged in as : <span id = "user">{{userName}}</span>
                        <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                    {{/userName}}
                    {{^userName}}
                        <a href="/oauth2/authorization/google"
                           class ="btn btn-success active" role="button">Google Login</a>
                    {{/userName}}
                    {{^userName}}
                        <a href="/oauth2/authorization/naver"
                           class ="btn btn-secondary active" role="button">Naver Login</a>
                    {{/userName}}
                </div>
            </div>
            <br>
            <!-- 목록출력영역 -->
            <table class = "table table-hover">
                <thead>
                <tr>
                    <th scope="col">게시글번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                </tr>
                </thead>
                <tbody id = "tbody">
                    {{#posts}} <!-- posts list 순회 (for문) -->
                        <tr>
                            <td style="width: 10%" class="text-center">{{id}}</td>
                            <td style="width: 10%" class="text-center"><a href="/posts/update/{{id}}">{{title}}</a></td>
                            <td style="width: 10%" class="text-center">{{author}}</td>
                            <td style="width: 10%" class="text-center">{{modifiedDate}}</td>
                        </tr>
                    {{/posts}}
                </tbody>
            </table>
        </div>
    {{>layout/footer}}
    </body>
</html>